/* html,body{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */

.home {
  min-height: 100vh;
}

.contact-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.contact{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:azure
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}